@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sue+Ellen+Francisco&display=swap');

$fontTitle: "Roboto", sans-serif;
$fontContent: "Sue Ellen Francisco";
$fontText: 'Manrope', sans-serif;