@use '../../styles/colors';
@use '../../styles/values';

.container {
    margin-top:10px;
    display: flex;
    flex-direction: column;

    .title {
        background-color: colors.$brown;
        font-family: values.$fontText;
        text-align: center;
        font-size: 20px;
        min-height: 70px;
    }
    .mail{
        text-align: center;
        font-weight: bold;  
        }
        .text {
            font-family: values.$fontContent;
            font-size: 1.3rem;
            text-align: center;
        }

        .icons {
            display:flex;
            justify-content: center;
            gap:10px;
            margin-bottom: 10px;
        }
    
}